<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Barra de progreso</h5>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [attr.ariaValuenow]="progress1" aria-valuemin="0" aria-valuemax="100" [style.width]="progress1 + '%'">{{ progress1 }}%</div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progress2" aria-valuemin="0" aria-valuemax="100" [style.width]="progress2 + '%'">{{ progress2 }}%</div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-increasing (valueChanged)="progress1 = $event" [legend]="'Barra de Progreso 1'" [progress]="progress1"></app-increasing>

            </div>
        </div>
    </div>
    <div class="col-6 ">
        <div class="card ">
            <div class="card-body ">

                <app-increasing (valueChanged)="progress2 = $event" [legend]="'Barra de Progreso 2'" [progress]="progress2"></app-increasing>

            </div>
        </div>
    </div>
</div>
